root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
indent_style = space

[{*.json,*.xml,*.csproj,*.yaml,*.yml}]
indent_style = space
indent_size = 2

[{*.cs,*.razor}]
indent_style = tab

csharp_style_var_when_type_is_apparent = true
csharp_style_var_for_built_in_types = true:none
csharp_style_var_elsewhere = false
