@inject LanguageMetadataProvider MetadataProvider;

@using Prolangle.Services
@using Prolangle.Extensions

@typeparam TEnum where TEnum : System.Enum

@{
    string flagName = Value.GetDisplayName() ?? Value.ToString();

    string desc = MetadataProvider.ResolveDescription(Value);

    <h5>
        @flagName
    </h5>

    if (!string.IsNullOrWhiteSpace(desc))
    {
        <p class="mb-0">@desc</p>
    }
}

@code {
    [Parameter]
    public required TEnum Value { get; set; }
}
