@inject LanguageMetadataProvider MetadataProvider;

@using Prolangle.Services
@using Prolangle.Extensions

@typeparam TEnum where TEnum : System.Enum

@{
	var flagName = Value.GetDisplayName() ?? Value.ToString();

	var desc = MetadataProvider.ResolveDescription(Value);

	<Div Margin="Margin.Is3.FromBottom.Is3.FromStart">
		<Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">
			@flagName
		</Heading>

		<Paragraph Margin="Margin.Is3.FromStart">
			@if (!string.IsNullOrWhiteSpace(desc))
			{
				@desc
			}
			else
			{
				<i>No description available.</i>
			}
		</Paragraph>
	</Div>
}

@code {
	[Parameter]
	public required TEnum Value { get; set; }
}
