@using Prolangle.Abstractions.Services
@using Prolangle.Extensions

@inject ILanguageMetadataProvider MetadataProvider;

@typeparam TEnum where TEnum : System.Enum

@{
	var flagName = Value.GetDisplayNameOrFallback();

	var desc = MetadataProvider.GetDescription(Value);

	<Div Margin="Margin.Is3.FromBottom.Is3.FromStart">
		<Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">
			@flagName
		</Heading>

		<Paragraph Margin="Margin.Is3.FromStart" style="max-width: 80ch">
			@if (!string.IsNullOrWhiteSpace(desc))
			{
				@desc
			}
			else
			{
				<i>No description available.</i>
			}
		</Paragraph>
	</Div>
}

@code {
	[Parameter]
	public required TEnum Value { get; set; }
}
