@using Prolangle.Abstractions.Languages
@using Prolangle.Abstractions.Services
@using Prolangle.Extensions

@inject ILanguageMetadataProvider MetadataProvider

@{
	var desc = MetadataProvider.GetDescription(MemoryManagement);
	var style = string.IsNullOrWhiteSpace(desc) ? "" : "border-bottom: 1px dotted black";

	var flagName = MemoryManagement.GetDisplayNameOrFallback();
}

<ExplanationPopover Content="@desc" Title="@flagName">
	<span style="@style">@flagName</span>
</ExplanationPopover>

@code {
	[Parameter]
	public required MemoryManagement MemoryManagement { get; set; }
}
