@using Blazored.Typeahead
@using Prolangle.Languages.Framework

<div>
	<BlazoredTypeahead SearchMethod="Search"
	                   placeholder="Type the name of a language…"
                       TValue="ILanguage"
                       TItem="ILanguage"
                       ShowDropDownOnFocus="true"
                       MaximumSuggestions="100"
                       Value="SelectedLanguage"
                       ValueChanged="l => OnLanguageSelected.InvokeAsync(l)"
                       ValueExpression="@(() => SelectedLanguage)">
        <SelectedTemplate>
            @context.Name
        </SelectedTemplate>
        <ResultTemplate>
            @context.Name
        </ResultTemplate>
    </BlazoredTypeahead>
</div>

@code {

    private ILanguage? SelectedLanguage { get; set; }

    private Task<IEnumerable<ILanguage>> Search(string query)
        => Task.FromResult(AvailableLanguages
            .Where(language => language.Name.Contains(query, StringComparison.OrdinalIgnoreCase)));

    [Parameter]
    public required IReadOnlyList<ILanguage> AvailableLanguages { get; set; }

    [Parameter]
    public EventCallback<ILanguage> OnLanguageSelected { get; set; }
}
