@inject ILanguageMetadataProvider MetadataProvider

@{
    var desc = MetadataProvider.GetDescription(SyntaxStyle);
    var style = string.IsNullOrWhiteSpace(desc) ? "" : "border-bottom: 1px dotted black";

    var flagName = SyntaxStyle.GetDisplayNameOrFallback();

    flagName += SyntaxStyle switch
    {
        SyntaxStyle.None or SyntaxStyle.Other => "",
        _ => "-like",
    };
}

<ExplanationPopover Content="@desc" Title="@flagName">
    <span style="@style">@flagName</span>
</ExplanationPopover>

@code {
    [Parameter]
    public required SyntaxStyle SyntaxStyle { get; set; }
}
