@using Prolangle.Languages.Framework
@using Prolangle.Services
@using Prolangle.Extensions

@{
	var desc = LanguageMetadataProvider.ResolveDescription(MemoryManagement);
	var style = string.IsNullOrWhiteSpace(desc) ? "" : "border-bottom: 1px dotted black";

	var flagName = MemoryManagement.GetDisplayNameOrFallback();
}

<ExplanationPopover Content="@desc" Title="@flagName">
	<span style="@style">@flagName</span>
</ExplanationPopover>

@code {
	[Parameter]
	public required MemoryManagement MemoryManagement { get; set; }
}
