@using Blazored.Typeahead
@using Prolangle.Languages.Framework

<style>
	.language-selection-wrapper {
	 	display: flex;
        justify-content: space-between;
    }
</style>

<Div class="language-selection-wrapper" Margin="Margin.Is2.OnY">
	<BlazoredTypeahead SearchMethod="Search"
					   placeholder="Type the name of a language…"
					   ShowDropDownOnFocus="true"
					   MaximumSuggestions="100"
					   @bind-Value="SelectedLanguage">
		<SelectedTemplate>
			@context.Name
		</SelectedTemplate>
		<ResultTemplate>
			@context.Name
		</ResultTemplate>
	</BlazoredTypeahead>

	<Button @onclick="Guess" Margin="Margin.Is2.FromStart">Guess</Button>
</Div>

@code {

	private ILanguage? SelectedLanguage { get; set; }

	private Task<IEnumerable<ILanguage>> Search(string query)
		=> Task.FromResult(AvailableLanguages
			.Where(language => language.Name.Contains(query, StringComparison.OrdinalIgnoreCase)));

	[Parameter]
	public required IReadOnlyList<ILanguage> AvailableLanguages { get; set; }

	[Parameter]
	public EventCallback<ILanguage> OnLanguageSelected { get; set; }

	private async Task Guess()
	{
		await OnLanguageSelected.InvokeAsync(SelectedLanguage);

		SelectedLanguage = null;
	}

}
