@using Prolangle.Languages.Framework
@using Prolangle.Services

@inject LanguageMetadataProvider MetadataProvider

@{
    var desc = MetadataProvider.ResolveDescription(SyntaxStyle);
    var style = string.IsNullOrWhiteSpace(desc) ? "" : "border-bottom: 1px dotted black";
}

<ExplanationPopover Content="@desc" Title="@SyntaxStyle.ToString()">
    <span style="@style">@SyntaxStyle</span>
</ExplanationPopover>

@code {
    [Parameter]
    public required SyntaxStyle SyntaxStyle { get; set; }
}
