@using Prolangle.Services
@using Prolangle.Languages.Framework

<input @bind="Filter" @bind:event="oninput" placeholder="Type programming language..." type="text"/>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    @foreach (var language in FilteredLanguages)
    {
        <button @onclick="() => OnLanguageSelected.InvokeAsync(language)">
            @language.Name
        </button>
    }
</div>

@code {

    private string Filter { get; set; } = string.Empty;

    private IReadOnlyList<ILanguage> FilteredLanguages => AvailableLanguages
        .Where(language => language.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        .ToList();

    [Parameter]
    public IReadOnlyList<ILanguage> AvailableLanguages { get; set; }

    [Parameter]
    public EventCallback<ILanguage> OnLanguageSelected { get; set; }
}
