@using Prolangle.Models

<div class="match @MatchType">
	@ChildContent
</div>

@code {

	[Parameter]
	public required MatchType MatchType { get; init; }

	[Parameter]
	public required RenderFragment ChildContent { get; init; }

}

<style>
.match {
	padding: 0.5em;
	border-radius: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
	height: 100%;
	white-space: nowrap;
	color: var(--color-on-match-inner);
}

.match > * {
	display: inline-block;
	padding: 0.25em 0.45em;
	background: var(--color-match-inner);
	color: inherit;
	border-radius: 0.35em;
}

.match:not(.Exact) .overlap {
	font-weight: bold;
}

.match.Exact {
	color: var(--color-on-exact-match);
	background-color: var(--color-exact-match);
}

.match.Partial {
	color: var(--color-on-partial-match);
	background-color: var(--color-partial-match);
}

.match.None {
	color: var(--color-on-no-match);
	background-color: var(--color-no-match);
}
</style>
