@inject IGameSeedProvider GameSeeder;

<p>
	Next game in:
	<strong>@GameSeeder.GetTimeUntilNextSeed().ToString(@"hh\:mm\:ss")</strong>
</p>

@code {

	Timer? _timer;

	protected override void OnInitialized()
	{
		_timer = new Timer(Refresh, null, TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1));
	}

	private void Refresh(object? state) => StateHasChanged();

}
