<p>
	Next game in:
	<strong>@TimeToNextGame.ToString(@"hh\:mm\:ss")</strong>
</p>

@code {

	TimeSpan TimeToNextGame => DateTimeOffset.UtcNow.UtcDateTime.AddDays(1) - DateTimeOffset.UtcNow.UtcDateTime;

	Timer? timer;

	protected override void OnInitialized()
	{
		timer = new Timer(Refresh, null, TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1));
	}

	private void Refresh(object? state) => StateHasChanged();

}
