@using Prolangle.Languages.Framework
@using System.Text
@using Humanizer
@using Prolangle.Models
@using Prolangle.Services
@inject IJSRuntime JsRuntime

@code {

	[Parameter]
	public required RenderFragment ChildContent { get; set; }

	[Parameter]
	public required ILanguage TargetLanguage { get; set; }

	[Parameter]
	public required IReadOnlyList<ILanguage> RevealedLanguages { get; set; }

	Snackbar snackbar = null!;
	string snackbarMessage = "";
	MetadatumComparisonService comparisonService = null!;

	protected override void OnParametersSet()
	{
		comparisonService = new(TargetLanguage);
	}

	private async Task OnClicked()
	{
		var comparisons = GetComparisonResults();
		var shareContent = $"Found today's #prolangle language in {"attempt".ToQuantity(RevealedLanguages.Count)}!\n\n{comparisons}\nTry it yourself at https://prolangle.ricardoboss.de";

		snackbarMessage = await JsRuntime!.InvokeAsync<string>("shareResult", shareContent);

		await snackbar.Show()!;
	}

	private string GetComparisonResults()
	{
		var builder = new StringBuilder();

		foreach (ILanguage language in RevealedLanguages.Take(4))
		{
			MatchType typings = comparisonService.TypingMatch(language);
			MatchType compiled = comparisonService.CompiledMatch(language);
			MatchType garbageCollected = comparisonService.GarbageCollectedMatch(language);
			MatchType syntax = comparisonService.SyntaxStyleMatch(language);
			MatchType applications = comparisonService.ApplicationsMatch(language);
			MatchType paradigms = comparisonService.ParadigmsMatch(language);
			ComparisonDirection tiobeRatingDirection = comparisonService.TiobeRatingDirection(language);
			ComparisonDirection appearanceYearDirection = comparisonService.AppearanceYearDirection(language);

			foreach (MatchType match in new List<MatchType> { typings, compiled, garbageCollected, syntax, applications, paradigms })
			{
				builder.Append(match switch
				{
					MatchType.Exact => "🟩",
					MatchType.Partial => "🟨",
					MatchType.None => "🟥",
					_ => throw new NotImplementedException(),
				});
			}

			foreach (ComparisonDirection direction in new List<ComparisonDirection> { tiobeRatingDirection, appearanceYearDirection })
			{
				builder.Append(direction switch
				{
					ComparisonDirection.Up => "🔼",
					ComparisonDirection.Down => "🔽",
					ComparisonDirection.Equal => "🟩",
					_ => throw new NotImplementedException(),
				});
			}

			builder.AppendLine();
		}

		return builder.ToString();
	}

}

<Button @onclick="OnClicked">
	@ChildContent
</Button>

<Snackbar @ref="snackbar">
	<SnackbarBody>
		@snackbarMessage
	</SnackbarBody>
</Snackbar>
