@page "/explanations"

@using Prolangle.Languages.Framework
@using Prolangle.Components

<Heading Size="HeadingSize.Is3">Explanations</Heading>

<Paragraph>
	This page contains explanations of the various syntax styles and type systems different programming languages use.
</Paragraph>

<hr />

<Div>
	<Heading Size="HeadingSize.Is4" id="applications">Known for building / Applications</Heading>

	@foreach (Applications application in Enum.GetValues<Applications>()
		          .OrderBy(t => t.ToString()))
	{
		<ExplanationBodyText Value="@application"/>
	}

	<Heading Size="HeadingSize.Is4" id="syntax-styles">Syntax styles</Heading>

	@foreach (SyntaxStyle syntaxStyle in Enum.GetValues<SyntaxStyle>()
		          .OrderBy(t => t.ToString()))
	{
		<ExplanationBodyText Value="@syntaxStyle"/>
	}

	<Heading Size="HeadingSize.Is4" id="type-systems">Type systems</Heading>

	@foreach (TypeSystem typeSystem in Enum.GetValues<TypeSystem>()
		          .OrderBy(t => t.ToString()))
	{
		<ExplanationBodyText Value="@typeSystem"/>
	}
</Div>
