@page "/"

@using Prolangle.Languages.Framework
@using Prolangle.Services
@using Prolangle.Components

@inject GuessGame GuessGame
@inject LanguagesProvider LanguagesProvider

<Heading Size="HeadingSize.Is1">Guess a Language</Heading>
<Heading Size="HeadingSize.Is2">…based on its properties</Heading>

<MetadatumComparisonTable TargetLanguage="TargetLanguage" RevealedLanguages="RevealedLanguages"/>

@if (won)
{
	<Heading Size="HeadingSize.Is3">You won!</Heading>

	<ShareMetadatumComparisonButton TargetLanguage="TargetLanguage" RevealedLanguages="RevealedLanguages">
		Share results
	</ShareMetadatumComparisonButton>
}
else
{
	<LanguageSelection AvailableLanguages="@AvailableLanguages" OnLanguageSelected="@OnLanguageSelected"/>

	<p>
		<Icon Name="IconName.Lightbulb" Padding="Padding.Is2" />
		@if (guessCount == 0)
		{
			<span>
				Lost? Just try picking a language, or head to <NavLink href="/explanations">Explanations</NavLink>
				for more info.
			</span>
		}
		else
		{
			<span>
				Some terms are <span class="popover-available-hint">underlined</span>. You can tap or click those to get
				a quick explanation. Or, head to <NavLink href="/explanations">Explanations</NavLink> for more info.
			</span>
		}
	</p>
}

@code {

	private List<ILanguage> AvailableLanguages => LanguagesProvider!.Languages.Where(l => !RevealedLanguages.Contains(l)).ToList();
	private List<ILanguage> RevealedLanguages { get; } = [];
	private ILanguage TargetLanguage => GuessGame!.MetadatumGameLanguage;

	// revisit these fields once #22 is resolved
	private int guessCount;
	private bool won;

	private void OnLanguageSelected(ILanguage language)
	{
		guessCount++;

		RevealedLanguages.Add(language);

		var result = GuessGame!.MetadatumGameLanguage.Id == language.Id;

		if (result)
			won = true;
	}

}
