@page "/Language"
@using Prolangle.Services
@using Prolangle.Components
@using Prolangle.Languages.Framework

@inject GuessGame GuessGame

<h1>Guess a Language</h1>

<LanguageSelection OnLanguageSelected="@OnLanguageSelected"/>

@if (won)
{
    <h2>You won!</h2>
}

<table>
    <thead>
    <tr>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var language in RevealedLanguages)
    {
        <tr>
            <td>@language.Name</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<ILanguage> RevealedLanguages { get; } = [];
    private bool won;

    private void OnLanguageSelected(ILanguage language)
    {
        RevealedLanguages.Add(language);

        var result = GuessGame!.Guess(language);

        if (result)
            won = true;
    }

}
