@page "/Snippets"

@using Prolangle.Components
@using Prolangle.Services
@using Prolangle.Languages.Framework
@using Prolangle.Snippets

@inject GuessGame GuessGame
@inject LanguageSnippetProvider LanguageSnippetProvider

<h1>Snippets</h1>

@if (won)
{
	<h2>You won!</h2>
}
else
{
	<LanguageSelection AvailableLanguages="@AvailableLanguages" OnLanguageSelected="@OnLanguageSelected"/>
}

<code>
	<pre>
        @ConcealedSourceCode
    </pre>
</code>

<div style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 1em;">
	@foreach (var language in RevealedLanguages)
	{
		@if (language == TargetLanguage)
		{
			<span style="background: green; padding: 0.5em">@language.Name</span>
		}
		else
		{
			<span style="background: red; padding: 0.5em">@language.Name</span>
		}
	}
</div>

@code
{
	private IReadOnlyList<ILanguage> AvailableLanguages => LanguageSnippetProvider.SupportedLanguages.Where(l => !RevealedLanguages.Contains(l)).ToList();
	private List<ILanguage> RevealedLanguages { get; } = [];
	private ILanguage TargetLanguage => GuessGame!.GetTargetLanguage(AvailableLanguages);
	private ICodeSnippet Snippet => LanguageSnippetProvider!.GetSnippet(TargetLanguage);
	private bool won;

	private SnippetRevealer SnippetRevealer;

	private string ConcealedSourceCode;

	protected override void OnInitialized()
	{
		SnippetRevealer = new SnippetRevealer(GuessGame, Snippet.SourceCode, useJitter: true);

		ConcealedSourceCode = SnippetRevealer.RevealMore();
	}

	private void OnLanguageSelected(ILanguage language)
	{
		RevealedLanguages.Add(language);

		var result = TargetLanguage.Id == language.Id;

		if (result)
		{
			won = true;
			SnippetRevealer.Win();

			ConcealedSourceCode = Snippet.SourceCode;
		}
		else
		{
			ConcealedSourceCode = SnippetRevealer.RevealMore();
		}

		StateHasChanged();
	}
}
