@inherits LayoutComponentBase

<Layout>
	<LayoutContent Padding="Padding.Is3">
		@Body
	</LayoutContent>

	<LayoutFooter>
		<Div Border="Border.Is1.Secondary.OnTop" Padding="Padding.Is3.OnY" Display="Display.Flex" Flex="Flex.Row" Gap="Gap.Is3" style="justify-content: center">
			<NavLink href="/">Properties Game</NavLink> |
			<NavLink href="/Snippets">Snippets Game</NavLink> |
			<NavLink href="/explanations">Explanations</NavLink>
		</Div>
	</LayoutFooter>
</Layout>
