@import "loading-progress.css";
@import "blazor-error-ui.css";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.popover-available-hint {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
